body {
    color: #fff ;
    font-family: 'Nunito Semibold';
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px ;
    max-width: 960px ;
    margin: 0 auto;
    text-align: center
}

#content div {
    background: grey;
    padding: 30px;
}

#content div:nth-child(even) {
    background: #7fffd4
}

.nested {
    display: grid ;
    grid-template-columns: repeat(2, 1fr) ;  /* OR grid-template-columns: 1fr 1fr ;*/
    grid-gap: 30px ;
    grid-column: span 2 ;
    text-align: center ;
}

.nested p {
    border: 1px solid black;
    padding: 20px ;
    margin: 0 ;
}

.six {
    grid-column: 1/4 ;
}